.whatisswift {
  /*height: 300px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatisswift-headline {
  color: rgb(109, 203, 226);
  font-weight: normal;
font-size: 25px;
text-align: left;
padding-bottom: 25px;
max-width: 1000px;
width: 100%;
margin: 0 auto;

}

.whatisswift-text-1 {
  color: rgb(110, 110, 110);
  font-size: 18px;
text-align: left;
max-width: 1000px;
width: 100%;
margin: 0 auto;

padding-bottom: 25px;
}

.whatisswift-text-2 {
  color: rgb(110, 110, 110);
  font-size: 18px;
text-align: left;
max-width: 1000px;
width: 100%;
margin: 0 auto;

}

@media (max-width: 768px) {
  .whatisswift-headline {
    /*max-width: 400px;*/
    width: 85%;
  }
  .whatisswift-text-1 {
    /*max-width: 400px;*/
    width: 85%;
  }
  .whatisswift-text-2 {
    /*max-width: 400px;*/
    width: 85%;
  }
}