.whatisdifferent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 50px;
}


.whatisdifferent-headline {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding-bottom: 25px;

  color: var(--headline-color);
  font-family: var(--text-font);
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}


.whatisdifferent-text-1 {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding-bottom: 25px;

  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 18px;
  text-align: left;
}


.whatisdifferent-list {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding: 0;

  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 16px;
  text-align: left;

  list-style: none;
}


.whatisdifferent-list li {
  display: flex;
  align-items: flex-start;

  margin-bottom: 12px;
}


.whatisdifferent-list li::before {
  content: "✓";

  margin-right: 10px;
  flex-shrink: 0;

  color: rgb(149, 255, 149);
}


@media (max-width: 768px) {

  .whatisdifferent-headline,
  .whatisdifferent-text-1,
  .whatisdifferent-list {
    width: 85%;
  }

}