.whatisintro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}


.whatisintro-headline {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding-bottom: 25px;

  color: var(--headline-color);
  font-family: var(--text-font);
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}


.whatisintro-text {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;

  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 18px;
  text-align: left;
}


@media (max-width: 768px) {

  .whatisintro-headline,
  .whatisintro-text {
    width: 85%;
  }

}