.beforeandafter {
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.beforeandafter-headline {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding-bottom: 25px;

  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}


.beforeandafter-text {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding-bottom: 25px;

  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 18px;
  text-align: left;
}


.beforeandafter-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 2rem 0;
}


@media (max-width: 768px) {
  .beforeandafter-grid {
    align-items: center;
  }

  .beforeandafter-headline,
  .beforeandafter-text {
    width: 85%;
  }
}